@import './scss/mixin';
@import './scss/var';
*{
    margin:0;
    font-family:'Inter', sans-serif;
}
title{
    font-family:inherit;
}
body{
    background-color: $bgColor;
    // width: fit-content;
    // height: fit-content;
}
